<div class="input-group">
    <input id="search" type="text" class="form-control" placeholder="Найти" aria-describedby="button-addon2" [formControl]="search">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Фильтровать
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" (click)="onDropdownItemClick($event, 'По названию')">По названию</a></li>
          <li><a class="dropdown-item" (click)="onDropdownItemClick($event, 'По году выпуска')">По году выпуска</a></li>
        </ul>
      </div>
</div>