<div class="input-group">
    <input id="search" type="text" class="form-control" placeholder="Найти" aria-describedby="button-addon2" [formControl]="search">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Фильтровать
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let property of searchProperties">
            <a class="dropdown-item" (click)="onDropdownItemClick($event, property)">{{ property.view }}</a>
          </li>
        </ul>
      </div>
</div>