<div class="container">
    <div class="left">
        <div class="entrance">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <samp>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt optio eum nihil maxime deleniti aliquam.</samp>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Запомнить меня
                </label>
              </div>
        </div>
    </div>
    <div class="right">
            <img class="laptop" src="../../../assets/laptop.svg ">
    </div>
</div>