<div class="container">
    <!-- <div class="left"> -->
      <app-device-properties
        [device]="device">
      </app-device-properties>
        
      <app-bookings-history
        [device]="device">
      </app-bookings-history>
    <!-- </div> -->
    <!-- <div class="right">
            <img class="laptop" src="/assets/laptop.svg ">
    </div> -->
</div>
<button *ngIf="!device.isBooked" type="button" class="btn btn-secondary book" routerLink='/account/booking/book/{{device.id}}'>
    Забронировать
</button>