.book-container {
    background-color: #f8f9fa;
    margin: auto;
    margin-top: 50px;
    display: table;
    text-align: center;
}

.btn {
    width: 100%;
}

.book-form {
    display: table-cell;
	vertical-align: middle;
    width: 500px;
}

.form-control-plaintext {
    text-align: center;
}

.table {
    margin-bottom: 0px;
}

.book-title {
    text-align: center;
}