<form [formGroup]="bookForm" (ngSubmit)="onBook()">
  <h2 class="book-title">Бронирование устройства {{device.name}}</h2>
  <div class="book-container">
    <div class="book-form">
      <table class="table">
        <tbody>
          <!-- <tr>
            <th scope="row">Начало</th>
            <td>
              <input type="datetime-local" id="start" name="start" formControlName="start"
                value="{{today}}"
                min="{{today}}">
            </td>
          </tr> -->
          <tr>
            <th scope="row">Бронирование до: </th>
            <td>
              <input type="datetime-local" id="end" name="start" formControlName="end"
                value="{{today}}">
                <!-- min="{{today}}"> -->
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-floating">
        <textarea  formControlName="comment" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">
        </textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <button [disabled]="!bookForm.valid || isDateEarlierToday" type="submit" class="btn btn-secondary">Забронировать</button>
    </div>
  </div>
</form>

<div *ngIf="showAlert" class="alert alert-danger" role="alert">
  Данное устройство невозможно забронировать
</div>

