<div class="book-container">
    <div class="row">
        <label for="staticEmail" class="col col-form-label">Email</label>
        <div class="col">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
    </div>
    <div class="row">
        <label for="start" class="col col-form-label">Начало</label>
        <div class="col">
            <input type="date" id="start" name="trip-start"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
        </div>
    </div>
    <div class="row">
        <label for="end" class="col col-form-label">Конец</label>
        <div class="col">
            <input type="date" id="end" name="trip-end"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
        </div>
    </div>
</div>