<table class="table">
    <thead>
      <tr>
        <th scope="col">Характеристика</th>
        <th scope="col">Значение</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Название</th>
        <td>{{device.name}}</td>
      </tr>
      <tr>
        <th scope="row">Год выпуска</th>
        <td>{{device.year}}</td>
      </tr>
      <tr>
        <th scope="row">Версия ОС</th>
        <td>//появится позже//</td>
      </tr>
      <tr>
        <th scope="row">Описание</th>
        <td>{{device.description}}</td>
      </tr>
    </tbody>
  </table>