<ul class="nav flex-column nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/account/user">
            <img class="icon" src="../../../../../assets/profile.png">
            Профиль
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/account/devices">
            <img class="icon" src="../../../../../assets/phone.png">
            Устройства
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/account/booking/add">
            <img class="icon" src="../../../../../assets/plus.png">
            Добавить
        </a>
    </li>
</ul>