<h2 class="book-title">Добавление своего устройства</h2>
<div class="book-container">
  <div class="book-form">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Название</th>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <th scope="row">Год</th>
          <td>
            <input type="number">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Описание</label>
    </div>
    <button type="button" class="btn btn-secondary">Добавить</button>
  </div>
</div>