.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

@media (max-width: 890px)  {
    .container {
        flex-direction: column-reverse;
    }
}

.list-group {
    margin-top: 10px;
    height: 370px;
    overflow: auto;
}

.photo {
    height: 200px;
}

.left,
.right {
    flex: 0 0 50%;
}

.right {
    text-align: center;
}

.container div:nth-child(1) {
    flex: 2;
}

.container div:nth-child(2) {
    flex: 1;
}
