.entrance {
    margin-top: 20% !important;
    background-color: #F8F9FA;
}

.form-floating {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-top: 15px;
    width: 97%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text-container {
    text-align: center;
}

.form-check {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    gap: 10px;
}