<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>
          <th scope="row">Никнейм</th>
          <td>Меганиикнейм3000</td>
        </tr>
      <tr>
        <th scope="row">ФИО</th>
        <td>Фамилия Имя Отчество</td>
      </tr>
      <tr>
        <th scope="row">Должность</th>
        <td>Мастер хардкода</td>
      </tr>
      <tr>
        <th scope="row">Почта</th>
        <td>email@email.com</td>
      </tr>
      <tr>
        <th scope="row">Номер телефона</th>
        <td>+7 800 555-35-35</td>
      </tr>
    </tbody>
</table>   